.DS_Store
.pytest_cache
.vscode/
!vscode/settings.json
!vscode/extensions.json
node_modules
.venv
.env
.pytest_cache
__pycache__
*.egg-info
.mypy_cache
.coverage*

# CDK asset staging directory
.cdk.staging
cdk.out
